*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* header  */
header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background-color: #ffffff;
}

.row{ 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    
}
.row-left, .row-right{ 
    display: flex;
    align-items: center;
    gap: 20px;
    
}


a{ 
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 10px;
    
}

#logo{ 
    
    width: 130px;
    margin-right: 10px;
    line-height: 50px;
    

    
}
.button{ 
    background-color: #0061ff;
    color: white;
    border: hidden;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

/* elementi hero */
.hero{ 
    background-color:#b4d0e7;
    width:100%;
    height: 440px;
    margin-top: 50px;
    
    
}
.container-hero{ 
    width: 65%;
    margin: auto;
    
    
    
}
.container-flex{ 
    display: flex;
    margin-bottom: 30px;
}

h1{ 
    font-size:50px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.text-hero{ 
    width: 35%;
    font-size: 12px;
    

    
}
.button.button-hero{ 
    margin-top: 20px;
    margin-bottom: 20px;
}
.foto-hero{ 
    width:65%
    
    
}
.foto-hero img{ 
    width: 100%;
}

.arrow{ 
    font-size: 30px;
    margin-top: 40px;
}
/* main */


.container-main{ 
    width: 55%;
    margin: auto;
}


/* elementi blocco colonne */

.container-col{ 
    display: flex;
    justify-content: space-between;
    margin:20px auto;
}
.col{ 
    width: 30%;
}


.fa-user{ 
    font-size: 10px;

}
.head{ 
    text-align: center;
    border: solid 1px #dadadc;
    
}
section{ 
    margin-top: 80px;
}
.text{ 
    display: flex;
    font-size: 10px;
}

.text-col{ 
    font-size: 12px;
    margin-right: 20px;
   
}
.corpo{ 
    border: solid 1px #dadadc;
    border-top: hidden;
    padding: 20px;
}
h4{ 
    padding: 10px;
}

.col .button{ 
    width: 100%;
    
}
.col i{ 
    margin-right: 2px;
    padding-top: 2px;
}
/* elementi sezione partner */
.contenitore-partner{ 
    display: flex;
    margin-top: 50px;
    gap: 20px;
    
    
}

.foto-partner{ 
    width: 60%;
    

}

img{ 
    width: 100%;
}



.text-partner{ 
    width: 35%;
    margin-top: 20px;
}
.p-main{ 
    margin-left: 10px;
    font-size: 10px;
}

.button.partner{ 
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 20px;
}
/* elementi sezione cards */

.container-cards{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards{ 
    width:calc(91% / 3  );
    margin-top: 30px;
}
.text-cards{ 
    margin-left: 10px;
    font-size: 10px;
}
/* elementi sezione titolo main */
.link-main{ 
    text-decoration: underline;
    color: #4a4af3;
}
#h2-main{ 
    width: 80%;
    margin-bottom: 20px;
}

.main-celeste{ 
    background-color: #b4d0e7;
    height: 200px;
    padding: 50px 0;

   
    
}
.testo-main{ 
    color: #61082b;
    width: 60%;

}
.container-main{ 
    position: relative;
}
.button.main{ 
    background-color: #ffffff;
    color:black;
    padding: 5px;
    position: absolute;
    top: 10px;
    right:0;
    width:25%;
}
/* elementi sezione domande */
.requests{
    border-bottom: 1.5px solid #e7e7e7;
    height: 50px;
    line-height: 25px;
    margin-top: 30px;
    position: relative;
}
.container-requests{
    margin-bottom: 80px;
}
.fa-angle-down{ 
   position: absolute;
   right:65px;
   top:10px;
}
/* elementi footer */
footer{ 
    background-color: black;
    color: #ffffff;
  
    height: 450px;
    padding: 50px;
}

.container-footer{ 
    display: flex;
    justify-content: space-between;
}

li{ 
    margin: 10px 10px;
    list-style: none;
    font-size: 10px;
}
.fa-earth-americas{ 
   font-size: 10px;
   margin-right: 10px;
}
.fa-caret-up{ 
    font-size: 10px;
    margin-left: 5px;
}

.text.linea{ 
    position: relative;
    padding-top: 80px;
    
    
    
    
}


.text.linea::after{ 
    content: "";
    display:block;
    background-color: #ffffff;
    height: 0.5px;
    width: 140%;
    position: absolute;
    top: 50px;
   
}

.title-footer{ 
    font-size: 14px;
    margin-bottom: 20px;
}